@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Aleo-ExtraBold";
    src: url("/fonts/Aleo-ExtraBold.ttf");
}

@font-face {
    font-family: "Aleo-SemiBold";
    src: url("/fonts/Aleo-SemiBold.ttf");
}

@font-face {
    font-family: "Aleo-Bold";
    src: url("/fonts/Aleo-Bold.ttf");
}

@font-face {
    font-family: "Aleo-Medium";
    src: url("/fonts/Aleo-Medium.ttf");
}
  
@font-face {
    font-family: "Aleo-Regular";
    src: url("/fonts/Aleo-Regular.ttf");
}
  
@font-face {
    font-family: "Aleo-Light";
    src: url("/fonts/Aleo-Light.ttf");
}

@font-face {
    font-family: "Aleo-Thin";
    src: url("/fonts/Aleo-Thin.ttf");
}
  

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Aleo-Regular'!important;
}
